.App {
  text-align: center;
}
.details{
  margin-top: 2rem;
}
.poke{
  list-style-type: none;
  padding-bottom: 1rem;
}
.list:link { 
  text-decoration: none; 
  color:#282c34;
  list-style-type: none;
} 
.list:visited { 
  text-decoration: none; 
  color:#282c34;
  list-style-type: none;
} 
.list:hover { 
  text-decoration: none; 
  color:#282c34;
  list-style-type: none;
} 
.list:active { 
  text-decoration: none; 
  color:#282c34;
  list-style-type: none;
}
.poke1{
  list-style-type: none;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.pokedetails{
  padding-top: 3rem;
  border-radius: 2rem;
  border-style: dotted;
  border: #c02424;
}
.pokeimg{
  width: 200px;
  height: 200px;
  padding-bottom: 2rem;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
